<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashboard</title>
</head>
<body>
    <h1>Click here to view my dashboard</h1>
    <a href="https://charts.mongodb.com/charts-project-0-tbydl/public/dashboards/ac4f7a67-8b49-4ee7-9752-cef78562007b">Click here to view my dashboard</a>
</body>
</html>